body {
    background-color: rgb(95, 159, 215);
}


h1 {
    font-size: 95px;
    font-family: 'Roboto Condensed', sans-serif;
}
h2 {
    font-size: 65px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
}
p{
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
}

.text {
    color: rgb(63, 132, 193);

}

#headcolor{
    color: rgb(88, 123, 165);
}

.heading {
background-color: rgb(182, 220, 254);
margin: 50px auto;
width: 50vw;
border-radius: 25px;
padding: 10px;
text-align: center;
}

.box1 {
    background-color: rgb(182, 220, 254);
    width: 50vw;
    margin: 70px auto;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
}

.box2 {
    background-color: rgb(182, 220, 254);
    width: 50vw;
    margin: 70px auto;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
}

.box3 {
    background-color: rgb(182, 220, 254);
    width: 50vw;
    margin: 70px auto;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
}